 * {
    margin: 0;
    padding: 0;
 }

 body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid steelblue;
    box-shadow: 5px 5px 10px 10px grey;
 }

body p {
    font-size: 75%;
}

main {
    clear: both;
}

header{
    background-image: linear-gradient(steelblue, white);
    padding: 1.5em 0;
}

 header h2 {
     font-size: 300%;
     margin: .5em 0;
     color: steelblue;
     font-style: italic;
     text-shadow: 2px 2px 8px steelblue;
 }

 header h3{
    font-size: 125%;
    margin: .5em 0;
    margin-bottom: 1em;
    padding: 0 1em;
 }
 
 header img{
     float: left;
     margin-right: 2em;
 }

#navBar ul{

    list-style: none;
    position: relative;
}

#navBar ul li{
    float: left;
    width: 20%;

}

#navBar ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: steelblue;
    color: white;
    font-weight: bold;
    padding: 1em 0;
}

#navBar ul ul{
    display: none;
    position: absolute;
    width: 100%;
}

#navBar ul ul li{
    float: none;

}

#navBar ul ul li a{
    text-align: left;
    padding-left: .25em;
}

#navBar ul li a:hover{
    background-color: lightsteelblue;
    color: yellow;
}

#navBar ul li:hover > ul {
    display: block;
}
section h2{
    margin: .5em;
    padding: 0 1em;
}

section h3{
    padding: 0 .5em;
}

section{
    float: left;
    width: 40%;
    margin: 0 auto;
}

 h1{
     font-size: 175%;
     padding: 0 1em;
 }
 
 p{
     margin: 1em 0;
     padding: 0 1em;
 }

blockquote{
    margin: 0 2em;
    padding: 0 .5em;
    background-color: palegoldenrod;
    font-size: 75%;
    font-style: italic;
    border-left: 5px solid maroon;
}

#leftCol{
    float: left;
    width: 30%;
    margin-top: 1em;
}

#rightCol{
    float: right;
    width: 30%;
    margin-top: 1em;
}

aside h2{
    padding: 0 1em;
}

aside ul{
     line-height: 25px;
     margin-left: 3em;
     margin-top: 1em;
     padding: 0 1.5em;
 }

 #lefCol h3 {
    margin-bottom: 5px;
    text-align: center;
}
#leftCol ul {
    list-style: none;
}

#leftCol ul li {
    width: 90%;
    margin: 0 auto .5em;
    border: 2px solid black;

}

#leftCol ul li a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: steelblue;
    padding: .5em 0 .5em .5em;
    color: black;
}

#leftCol ul li a:hover, #nav_list ul li a:focus {
    background-color: lightsteelblue;
    color: lefCol 

}

footer{
    margin-top: 10px;
    background: steelblue;
    color: white;
    font-size: 75%;
    text-align: center;
    padding: 1.5em 0;
    font-variant: small-caps;
    border: 1px solid black;
    clear: both;
}

 /*sudo links for section*/

 section a:link{
     color: maroon;
 }
 
 section a:visited{
     color: maroon;
 }
 
 section a:active{
     color: steelblue;
 }

 section a:hover{
    color: steelblue;
} 

aside a{
    font-weight: bold;
}

/* links for sudo classes*/
aside a:link{
    color: steelblue;
}

aside a:visited{
    color: steelblue;
}

aside a:active{
    color: maroon;
}

aside a:hover{
   color: maroon;
} 